In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('question4_data.csv')
df.head()

,Name of Earth Meteorite,ID of Earth Meteorite,nametype,recclass,Mass of Earth Meteorite,Year at which Earth Meteorite was hit,reclat,recclong
0,Aachen,1,Valid,L5,21.0,1880-01-01T00:00:00.000,50.77500,6.08333
1,Aarhus,2,Valid,H6,720.0,1951-01-01T00:00:00.000,56.18333,10.23333
2,Abee,6,Valid,EH4,107000.0,1952-01-01T00:00:00.000,54.21667,-113.00000
3,Acapulco,10,Valid,Acapulcoite,1914.0,1976-01-01T00:00:00.000,16.88333,-99.90000
4,Achiras,370,Valid,L6,780.0,1902-01-01T00:00:00.000,-33.16667,-64.95000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Name of Earth Meteorite                1000 non-null   object
 1   ID of Earth Meteorite                  1000 non-null   int64
 2   nametype                               1000 non-null   object
 3   recclass                               1000 non-null   object
 4   Mass of Earth Meteorite                972 non-null    float64
 5   Year at which Earth Meteorite was hit  999 non-null    object
 6   reclat                                 988 non-null    float64
 7   recclong                               988 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 62.6+ KB

In [9]:
df['Year at which Earth Meteorite was hit'] = pd.to_datetime(df['Year at which Earth Meteorite was hit'],format='%Y')

ValueError: unconverted data remains when parsing with format "%Y": "-01-01T00:00:00.000", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.